.root{
    -fx-background-color: black;
    -fx-font-family: "Adobe Caslon Pro Bold";
    -fx-font-size: 25pt;
    -fx-text-fill: white;
}

.label{
    -fx-text-fill: pink;
    -fx-font-family: Calibri;
    -fx-font-size: 15pt;
}

#title{
    -fx-text-fill: pink;
    -fx-font-size: 20pt;
}

.button{
    -fx-background-color: white;
    -fx-border-width: 1px;
    -fx-border-color: pink;
    -fx-border-radius: 5px;
    -fx-text-fill: black;
    -fx-min-width: 120px;
}

.button:hover{
    -fx-background-color: #de8fde;
}

.text-field{
    -fx-background-color: white;
    -fx-font-family: "Adobe Caslon Pro";
    -fx-text-fill: black;
    -fx-min-width: 1px;
    -fx-border-radius: 5px;

}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #000;
    -fx-border-width: 1;
    -fx-border-color: #fff;
    -fx-text-fill: white;
}

.table-view .column-header .label {
    -fx-alignment: center;
    -fx-font-size: 16pt;
    -fx-text-fill: white;

}

.table-row-cell,
.table-row-cell:odd {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: lightgrey;
}

.table-view .table-cell {
    -fx-border-color: lightgrey;
    -fx-border-width: 1 0 0 0;
    -fx-font-size: 16pt;
    -fx-padding: 5 3 15 3;
}